- 
    let lessons_items = [
        [
            'Коробка', 
            'Найдите, при каком размере выреза коробка будет иметь максимальный объём.', 
            'box'
        ],
        [
            'Обои', 
            'Помогите покупателям быстро определить необходимое количество обоев.', 
            'box'
        ],
        [
            'Сбер касса', 
            'Проведите исследование очереди из бабушек у сбер кассы.', 
            'box'
        ],
        [
            'Стихотворение', 
            'Предлагается исследовать ситуацию и предложить реальные способы ускорения процесса заучивания стихотворения.', 
            'box'
        ],
        [
            'Дачник и собака', 
            'Исследовать процесс движения объектов: человека и собаки. Установить связь между расстояниями, пройденными объектами за одно и то же время. Определить путь, который пробежала собака.', 
            'box'
        ]
    ]
    let works_items = [
        [
            'Продукты для похода', 
            'Рассчитать необходимое количество продуктов на весь поход для 1 человека и для всей группы.', 
            'box'
        ],
        [
            'Награда', 
            'Сколько должен индрусский царь Шерам изобретателю шахмат из древней легенды?', 
            'box'
        ],
        [
            'Концентрация раствора', 
            'Составьте таблицу, по которой можно определить, как изменяется исходная концентрация при добавлении 1, 2, 3 и т. д. частей воды.', 
            'box'
        ],
        [
            'Буратино и папа Карло', 
            'Постройте модель изменения капитала в течение нескольких недель.', 
            'box'
        ],
        [
            'График тренировки', 
            'Исследуйте график тренеровок, состовляемый по правилам.', 
            'box'
        ],
        [
            'Аквариум', 
            'Сколько минут времени он затратит на переселение рыбок?', 
            'box'
        ]
    ]