- 
    let lessons_items = [
        [
            'Коробка', 
            'Найдите, при каком размере выреза коробка будет иметь максимальный объём.', 
            'box'
        ],
        [
            'Обои', 
            'Помогите покупателям быстро определить необходимое количество обоев.', 
            'wallpapers'
        ],
        [
            'Стихотворение', 
            'Предлагается исследовать ситуацию и предложить реальные способы ускорения процесса заучивания стихотворения.', 
            'poem'
        ]
    ]
    let works_items = [
        [
            'Продукты для похода', 
            'Рассчитать необходимое количество продуктов на весь поход для 1 человека и для всей группы.', 
            'products'
        ]
    ]