doctype html
html(lang="ru")
    head
        include ./includes/head.pug
        link(rel="stylesheet", href="css/lessons.css")
        title Коробка
    body 
        include includes/header.pug
        main.container
            h2 I этап. Постановка задачи
            h3 Описание задачи
            p Имеется квадратный лист картона. Из листа по углам вырезают четыре квадрата и склеивают коробку по сторонам вырезов. Какова должна быть сторона вырезаемого квадрата, чтобы коробка имела наибольшую вместимость? Какого размера надо взять лист, чтобы получить из него коробку с заданным максимальным объемом?
            h3 ЦЕЛЬ МОДЕЛИРОВАНИЯ
            p Определить максимальный объём коробки.

            h2 II этап. Разработка модели
            h3 ИНФОРМАЦИОННАЯ МОДЕЛЬ
            table
                tr 
                    td(rowspan=2) <b>Объект</b>
                    td(colspan=2) <b>Параметры</b>
                tr 
                    td <b>название</b>
                    td <b>значение</b>
                tr 
                    td Картонный лист
                    td <span>Длина стороны <img class="formula min7" src="images/a.svg" alt="a"></span>
                    td Исходные данные
                tr 
                    td Вырез
                    td <span>Шаг изменения <img class="formula" src="images/Greek_uc_delta.svg" alt="∆"/><img class="formula" src="images/b.svg" alt="b"/></span><br><span>Размер <img class="formula" src="images/b.svg" alt="b"/>
                    td Исходные данные<br>Расчетные данные
                tr 
                    td Коробка 
                    td <span> Длина стороны дна <img class="formula min7" src="images/c.svg" alt="c"/></span><br><span>Площадь дна <img class="formula min9" src="images/S.svg" alt="S"/></span><br><span>Объём <img class="formula min7" src="images/V.svg" alt="V"/></span>
                    td Расчетные данные<br>Расчетные данные<br>Результаты
            
            p Для вывода формул математической модели составим геометрическую модель в виде чертежа с указанием исследуемых характеристик объекта.
            p Расчетные параметры объекта определяются по формулам:
            p 
                |<img class="formula min9" src="images/equationC.svg" alt="c = a - 2b"> — длина стороны дна;<br>
                |<img class="formula" src="images/equationS.svg" alt="S = c^2"> — площадь дна;<br>
                |<img class="formula min8" src="images/equationV.svg" alt="V = Sb"> — объём.
            p Здесь, <img class="formula min7" src="images/a.svg" alt="a"> — длина стороны картонного листа, <img class="formula" src="images/b.svg" alt="b"/> — размер выреза. Первоначальный размер выреза <img class="formula" src="images/b0.svg" alt="b_0"/>. Последующие размеры выреза определяются по формуле <img class="formula" src="images/bi+1.svg" alt="b_{i+1} = b_i + ∆b">

            h3 КОМПЬЮТЕРНАЯ МОДЕЛЬ
            p Для моделирования будем использовать язык моделирования python.
            p Для начала введём переменные. Их названия будут совпадать с информационной моделью.
            code a = int(input()) # Получаем и преобразуем данные в числовые значения<br>deltaB = int(input())
            p Попробуем проследить, как будет изменятся объём с увеличением размера выреза
            pre
                code
                    |b = deltaB # При b = 0, объём в любом случае равен нулю, 
                    | #поэтому сразу переходим к следующему значению
                    |V = 0 # Изначально объём коробки равен 0
                    |for i in range(20): # Для начала попробуем 20 итераций цикла
                    |    c = a - 2 * b
                    |    S = c * c
                    |    print(f"Объём = {S * b}, при b = {b}") # Выводим значения в консоль
                    |    b += deltaB 
            p Начальные данные: a = 40, deltaB = 1
            details 
                summary Вывод программы
                pre
                    |Объём = 1444, при b = 1
                    |Объём = 2592, при b = 2
                    |Объём = 3468, при b = 3
                    |Объём = 4096, при b = 4
                    |Объём = 4500, при b = 5
                    |Объём = 4704, при b = 6
                    |Объём = 4732, при b = 7
                    |Объём = 4608, при b = 8
                    |Объём = 4356, при b = 9
                    |Объём = 4000, при b = 10
                    |Объём = 3564, при b = 11
                    |Объём = 3072, при b = 12
                    |Объём = 2548, при b = 13
                    |Объём = 2016, при b = 14
                    |Объём = 1500, при b = 15
                    |Объём = 1024, при b = 16
                    |Объём = 612, при b = 17
                    |Объём = 288, при b = 18
                    |Объём = 76, при b = 19
                    |Объём = 0, при b = 20
            p Можно заметить, что со объём сначала возрастает, а затем убывает. Значит можно отследить точку максимума.
            pre
                code
                    |b = deltaB
                    |V = 0
                    |while True:
                    |c = a - 2 * b
                    |S = c * c
                    |if (S * b) < V: 
                    |    b -= deltaB
                    |    c = a - 2 * b
                    |    S = c * c
                    |    print(f"Объём = {S * b}, при b = {b}")
                    |    break # Если получившийся объём меньше, 
                    |    # чем прошлый, то завершаем цикл
                    |V = S * b
                    |b += deltaB
            p В теории программа должна вывести "Объём = 4732, при b = 7"
            pre
                code
                    |<i class=grey>console</i>
                    |40  
                    |1
                    |Объём = 4732, при b = 7
            p Наша программа показала правильный вариант.<br>Предлагаю сделать её более наглядной, выводя в консоль размер выреза, длину стороны дна, площадь дна и объём.<br>Вернёмся к первому варианту кода.
            pre
                code
                    |b = deltaB
                    |V = 0
                    |c = a - 2 * b
                    |while c >= 0: # ограничимся только положительным c
                    |    c = a - 2 * b
                    |    S = c * c
                    |    print(f'Размер выреза = {"%.2f" % b}, ', end='')
                    |    print(f'длина стороны = {"%.2f" % c}, ', end='')
                    |    print(f'площадь = {"%.2f" % S}, ', end='')
                    |    print(f'объём = {"%.2f" % (S * b)}')
                    |    b += deltaB
                    |
                    |# Запись "%.2f" % b ограничивает количество знаков после запятой
                    |# Иначе мы бы увидели число вида "1.6666666666666667",
                    |# зачем захламлять консоль
            details 
                summary Вывод программы
                pre
                    |40
                    |1
                    |Размер выреза = 1.00, длина стороны = 38.00, площадь = 1444.00, объём = 1444.00
                    |Размер выреза = 2.00, длина стороны = 36.00, площадь = 1296.00, объём = 2592.00     
                    |Размер выреза = 3.00, длина стороны = 34.00, площадь = 1156.00, объём = 3468.00     
                    |Размер выреза = 4.00, длина стороны = 32.00, площадь = 1024.00, объём = 4096.00     
                    |Размер выреза = 5.00, длина стороны = 30.00, площадь = 900.00, объём = 4500.00      
                    |Размер выреза = 6.00, длина стороны = 28.00, площадь = 784.00, объём = 4704.00      
                    |Размер выреза = 7.00, длина стороны = 26.00, площадь = 676.00, объём = 4732.00      
                    |Размер выреза = 8.00, длина стороны = 24.00, площадь = 576.00, объём = 4608.00      
                    |Размер выреза = 9.00, длина стороны = 22.00, площадь = 484.00, объём = 4356.00      
                    |Размер выреза = 10.00, длина стороны = 20.00, площадь = 400.00, объём = 4000.00     
                    |Размер выреза = 11.00, длина стороны = 18.00, площадь = 324.00, объём = 3564.00     
                    |Размер выреза = 12.00, длина стороны = 16.00, площадь = 256.00, объём = 3072.00     
                    |Размер выреза = 13.00, длина стороны = 14.00, площадь = 196.00, объём = 2548.00     
                    |Размер выреза = 14.00, длина стороны = 12.00, площадь = 144.00, объём = 2016.00     
                    |Размер выреза = 15.00, длина стороны = 10.00, площадь = 100.00, объём = 1500.00     
                    |Размер выреза = 16.00, длина стороны = 8.00, площадь = 64.00, объём = 1024.00       
                    |Размер выреза = 17.00, длина стороны = 6.00, площадь = 36.00, объём = 612.00        
                    |Размер выреза = 18.00, длина стороны = 4.00, площадь = 16.00, объём = 288.00        
                    |Размер выреза = 19.00, длина стороны = 2.00, площадь = 4.00, объём = 76.00
                    |Размер выреза = 20.00, длина стороны = 0.00, площадь = 0.00, объём = 0.00
                    |Размер выреза = 21.00, длина стороны = -2.00, площадь = 4.00, объём = 84.00
            p С помощью этого кода можно будет пройти дальнейшие тесты.
            div.btnWrapper
                a.btn(href="boxTest.html") Тест 