doctype html
html(lang="ru")
    head
        include ./includes/head.pug
        title Математическое моделирование
    body
        include includes/header.pug
        main.container
            nav
                span Вид работы: 
                    button#lessonsBtn.group-btn.active Урок
                    button#worksBtn.group-btn Самостоятельная работа
            include includes/lessons.pug
            #lessonsList.items.row.row-cols-1.row-cols.sm-1.row-cols.md-2.row-cols-lg-3
                for item in lessons_items
                    .wrapper
                        .item
                            h2.header= item[0]
                            p.description= item[1]
                            a(href= item[2]+".html").btn Урок
                            a(href= item[2]+"Test.html").btn Тест
            #worksList.items.row.row-cols-1.row-cols.sm-1.row-cols.md-2.row-cols-lg-3.hidden
                for item in works_items
                    .wrapper
                        .item
                            h2.header= item[0]
                            p.description= item[1]
                            a(href= "w_"+item[2]+".html").btn.work Приступить
        script(src="js/index.js")