doctype html
html(lang="ru")
    head
        include includes/head.pug
        title Стихотворение
    body
        include includes/header.pug
        main.container.lesson
            h2 Стихотворение
            h3 I этап. Постановка задачи
            h4 Описание задачи
            p Мальчик учит стихотворение из 40 строк. Чтобы запомнить первую строчку ему понадобилась всего 1 мин. На каждую следующую он тратит на 10% времени больше. Стихотворение держится в памяти нерадивого ученика не дольше трех часов, а до школы бежать 15 минут. Как организовать заучивание стихотворения?
            h4 Цель моделирования
            p Предлагается исследовать ситуацию и предложить реальные способы ускорения процесса заучивания стихотворения.
            h3 II этап. Разработка модели
            h4 ИНФОРМАЦИОННАЯ МОДЕЛЬ
            p Анализ объекта моделирования показывает, что эта система состоит из двух объектов: мальчика и стихотворения. Стихотворение, в свою очередь, может быть разбито на простые элементы — строки. Каждый из объектов, входящих в систему, имеет свои параметры. Связь между объектами этой системы заключается во времени заучивания стиха нерадивым учеником. Представим информационную модель в табличном виде.
            table.element-animation
                tr
                    td(rowspan=2) Объект
                    td(colspan=2) Параметры
                tr
                    td #[i название]
                    td #[i значение]
                tr
                    td Мальчик
                    td.
                        Процент снижения прилежания с каждой строкой #[span.math D (%)]<br>
                        Время удерживания в памяти любой информации #[span.math DT]
                    td.
                        Исходные данные<br>
                        Исходные данные (константа)
                tr
                    td Стихотворение
                    td.
                        Количество строк<br>
                        Суммарное время, затраченное на заучивание всего стихотворения
                    td.
                        Исходные данные<br>Результат
                tr
                    td Строка (элемент стиха)
                    td.
                        Время на заучивание первой строки #[span.math Т#[sub i]]
                        Время заучивания #[span.math i]-й строки #[span.math Т#[sub i]]
                        Суммарное время, затраченное на #[span.math i] строк #[span.math S#[sub i]]
                    td.
                        Исходные данные<br>
                        Расчетные данные<br>
                        Расчетные данные
                tr
                    td Среда
                    td Время бега до школы
                    td В задаче константа
            p Математическая модель связывает между собой параметры элементов системы.
            p Время на заучивание #[span.math i]-й строки:
            p.center
                span.math T#[sub i] = T#[sub i-1] × (1 + ∆ (%)).
            p Суммарное время на запоминание отрывка из #[span.math i] строк:
            p.center
                span.math S#[sub i] = S#[sub i-1] + T#[sub i]. 
            h4 КОМПЬЮТЕРНАЯ МОДЕЛЬ
            p Для моделирования будем использовать язык моделирования Python.
            p Для начала введём переменные.
            pre.element-animation
                code.
                    learningTime = 60 # Время заучивания в секундах
                    deltaTime = 1.1 # Увеличение времени в процентах
                    amountOfStrings = 40 # Всего строк
            p Пройдёмся в цикле по всем строчкам стихотворения
            pre.element-animation
                code.
                    print('№ строки\tВремя заучивания(сек)\t Суммарное время') # Заголовок таблицы
                    for i in range(amountOfStrings):
                        Ti = learningTime * deltaTime**i # Используем формулы геометрической прогрессии
                        Si = (Ti * deltaTime - learningTime) / (deltaTime - 1)
                        print(f'{ i + 1 }\t{ "%.2f" % Ti }\t{ "%.2f" % Si }')
            p Сделаем вывод времени в минутах и секундах при помощи модуля Datetime
            pre.element-animation
                code.
                    # В начало кода вставим
                    import datetime
                    # В цикле добавим
                    TiTime_format = str(datetime.timedelta(seconds = int(Ti)))
                    SiTime_format = str(datetime.timedelta(seconds = int(Si)))
                    print(f'{ i + 1 }\t{ TiTime_format }\t{ SiTime_format }')
            details
                summary Вывод программы
                pre.
                    № строки	Время заучивания(сек)	 Суммарное время
                    1	0:01:00	0:00:59
                    2	0:01:06	0:02:05
                    3	0:01:12	0:03:18
                    4	0:01:19	0:04:38
                    5	0:01:27	0:06:06
                    6	0:01:36	0:07:42
                    7	0:01:46	0:09:29
                    8	0:01:56	0:11:26
                    9	0:02:08	0:13:34
                    10	0:02:21	0:15:56
                    11	0:02:35	0:18:31
                    12	0:02:51	0:21:23
                    13	0:03:08	0:24:31
                    14	0:03:27	0:27:58
                    15	0:03:47	0:31:46
                    16	0:04:10	0:35:56
                    17	0:04:35	0:40:32
                    18	0:05:03	0:45:35
                    19	0:05:33	0:51:09
                    20	0:06:06	0:57:16
                    21	0:06:43	1:04:00
                    22	0:07:24	1:11:24
                    23	0:08:08	1:19:32
                    24	0:08:57	1:28:29
                    25	0:09:50	1:38:20
                    26	0:10:50	1:49:10
                    27	0:11:55	2:01:05
                    28	0:13:06	2:14:12
                    29	0:14:25	2:28:37
                    30	0:15:51	2:44:29
                    31	0:17:26	3:01:56
                    32	0:19:11	3:21:08
                    33	0:21:06	3:42:15
                    34	0:23:13	4:05:28
                    35	0:25:32	4:31:01
                    36	0:28:06	4:59:07
                    37	0:30:54	5:30:02
                    38	0:34:00	6:04:02
                    39	0:37:24	6:41:26
                    40	0:41:08	7:22:35
            div.btnWrapper
                a.btn(href="poemTest.html") Тест
    script(src="js/animation.js")