doctype html
html(lang="ru")
    head
        include ./includes/head.pug
        title Продукты для похода
    body
        include ./includes/w_header.pug
        main.test.container
            h2 Продукты для похода
            h3 Задача
            p 
                |Для организации похода надо построить модель расчета нормы продуктов для группы туристов. Известна норма каждого продукта на 1 человека на 1 день, количество человек и количество дней похода.<br>
                |Рассчитать необходимое количество продуктов на весь поход для всей группы. Провести расчеты для разных исходных значений количества дней и туристов. Нормы продуктов при ведены в таблице.
            .tableWrapper
                table.work
                    tr.odd
                        td.title(colspan="8") Продукты для похода
                    tr.even
                        td Название
                        td 1 чел/день
                        td Название
                        td 1 чел/день 
                        td Название
                        td 1 чел/день
                        td Название
                        td 1 чел/день
                    tr.odd
                        td Сыр, г
                        td 50
                        td Масло, г
                        td 35
                        td Булка, шт
                        td 0.25
                        td Кофе, г
                        td 5
                    tr.even
                        td Картофель, г
                        td 200
                        td Колбаса, г
                        td 40
                        td Чай, г
                        td 5
                        td Сахар, г
                        td 30
                    tr.odd
                        td Пшено, г
                        td 20
                        td Греча, г
                        td 20
                        td Хлеб, шт
                        td 0.25
                        td Сушки, г
                        td 50
                    tr.even
                        td Вермишель, г
                        td 55
                        td Рис, г
                        td 20
                        td Суп, пакет
                        td 0.25
                        td Конфеты, шт
                        td 20
            .tableWrapper
                //- .comm
                    td.title(colspan="2") Продукты
                    td Сыр, г
                    td Масло, г
                    td Булка, шт
                    td Кофе, г
                    td Картофель, г
                    td Колбаса, г
                    td Чай, г
                    td Сахар, г
                    td Пшено, г
                    td Греча, г
                    td Хлеб, шт
                    td Сушки, г
                    td Вермишель, г
                    td Рис, г
                    td Суп, пакет
                    td Конфеты, шт
                table
                    tr
                        td(rowspan="2") Продукты
                        td Людей
                        td Дней
                        td.greyBG 
                        td Людей
                        td Дней
                    tr
                        td 15
                        td 6
                        td.greyBG 
                        td 20
                        td 7
                    //- tr*16>td+((td*2>input.questionInput[type=text])+td.greyBG)*5
                    tr
                        td Сыр, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="c746ee2edf45fa00fca8d08045b2575aac17cf3eeb3f2b0da5e5301fae8d1e47")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="b698d86c67a2cff80405bd47af322216c552fd3a52f9c58a70f7b3a3313895b1")
                    tr
                        td Масло, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="4d364fbb3786fc31157cc1e2a2671aac0e36348ae9d6b4ba4459ee883c240fe8")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="0ec89b31a9f42decb7bad3c678c0994266ae6382435ec44c7ed3144b0f3dae2a")
                    tr
                        td Булка, шт
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9cda9ecc682b5dd720eef5a7d7fe49ceb4350d196135a2f7882b4345bfa664c2")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953")
                    tr
                        td Кофе, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="83151157c10d85af7c84657c71c3e3603d955160f0526fce672481da83a2e090")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="99ee50221221864d50c60baea6f14d8ac2e235cc6e78be6088cd40cc97fca394")
                    tr
                        td Картофель, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="434a7e656c53f103a7a2ed1ccc8bb6fd53e9c10e4df29edd2a11b9036342a08d")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="ca8e3bac05e76fe661519ab7b0d3ebf3ba400ac9944f72962b76c6164e9c1f74")
                    tr
                        td Колбаса, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="8b34042b7a96b3ba94b27ad723ca8f57787eefbab2083b3098173c444aefbfdf")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="e3be6803d0ccd3993904e99d799fc46d558566af90dd3d0efa8f423853bd8ed5")
                    tr
                        td Чай, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="83151157c10d85af7c84657c71c3e3603d955160f0526fce672481da83a2e090")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="99ee50221221864d50c60baea6f14d8ac2e235cc6e78be6088cd40cc97fca394")
                    tr
                        td Сахар, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="47640e5f52b61369ed665d52e51fcd0d0577385d0d531b8eb91018ecb947df5d")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="be5220c4102d65865bde1ef9740d3d2093a02192e5773c56f23e27d917f17958")
                    tr
                        td Пшено, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="e49ec846db7527df7ff483009fe61700e6435072c8c5b551ab08f0a13fc45a07")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="19d62f0f54e0697f2532ba0897789728805b4cb6bafb4e212d268a54058440af")
                    tr
                        td Греча, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="e49ec846db7527df7ff483009fe61700e6435072c8c5b551ab08f0a13fc45a07")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="19d62f0f54e0697f2532ba0897789728805b4cb6bafb4e212d268a54058440af")
                    tr
                        td Хлеб, шт
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9cda9ecc682b5dd720eef5a7d7fe49ceb4350d196135a2f7882b4345bfa664c2")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953")
                    tr
                        td Сушки, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="c746ee2edf45fa00fca8d08045b2575aac17cf3eeb3f2b0da5e5301fae8d1e47")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="b698d86c67a2cff80405bd47af322216c552fd3a52f9c58a70f7b3a3313895b1")
                    tr
                        td Вермишель, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="44864c96fa1c36602f0d045b268981b6cab638a60fc207c89e3bba235f619450")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="6b6c0168bc7929abce425fdec4183d44aa421aafa6415dd54ded055801d083d2")
                    tr
                        td Рис, г
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="e49ec846db7527df7ff483009fe61700e6435072c8c5b551ab08f0a13fc45a07")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="19d62f0f54e0697f2532ba0897789728805b4cb6bafb4e212d268a54058440af")
                    tr
                        td Суп, пакет
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9cda9ecc682b5dd720eef5a7d7fe49ceb4350d196135a2f7882b4345bfa664c2")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953")
                    tr
                        td Конфеты, шт
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="e49ec846db7527df7ff483009fe61700e6435072c8c5b551ab08f0a13fc45a07")
                        td.greyBG 
                        td(colspan="2")
                            input.questionInput(type="text" data-answer="19d62f0f54e0697f2532ba0897789728805b4cb6bafb4e212d268a54058440af")
        button.big#checkAnswers.work Проверить
    script(src="js/sha256.js")
    script(src="js/test.js") 