doctype html
html(lang="en")
    head
        include includes/head.pug
        title Обои
    body
        include includes/header.pug
        main.container.lesson
            h2 Обои
            h3 I этап. Постановка задачи
            h4 Описание задачи
            p В магазине продаются обои. Наименования, длина и ширина рулона известны. Для удобства обслуживания надо составить программу, которая позволит определить необходимое количество рулонов для оклейки любой комнаты.
            p Известно, что форма комнаты прямоугольная, размеры комнаты задаются высотой #[span.math (h)], длиной #[span.math (a)] и шириной #[span.math (b)]. 15% площади стен комнаты занимают окна и двери, они не входят в площадь оклеивания. 10% площади рулона уходит на обрезки. Нужно купить один рулон про запас.
            h4 ЦЕЛЬ МОДЕЛИРОВАНИЯ
            p Помочь покупателям быстро определять необходимое количество рулонов обоев.
            h3 II этап. Разработка модели
            h4 ИНФОРМАЦИОННАЯ МОДЕЛЬ
            table.element-animation
                tr
                    td(rowspan="2").title Объект
                    td(colspan="2").title Параметры
                tr
                    td #[i название]
                    td #[i значения]
                tr
                    td Обои
                    td.
                        Наименования образцов<br>
                        Длина рулона #[span.math (l)]<br>
                        Ширина рулона #[span.math (d)]<br>
                        Обрезки #[span.math (Обр)]<br>
                        Площадь рулона #[span.math (S#[sub р])]
                    td.
                        Исходные данные<br>
                        Исходные данные<br>
                        Исходные данные<br>
                        Рекомендуется 10%<br>
                        Расчетные данные
                tr
                    td Комната
                    td. 
                        Высота #[span.math (h)]<br>
                        Длина #[span.math (a)]<br>
                        Ширина #[span.math (b)]<br>
                        Неоклеиваемая поверхность #[span.math (НП)]<br>
                        Площадь стен #[span.math (S#[sub ком])]
                    td.
                        Исходные данные<br>
                        Исходные данные<br>
                        Исходные данные<br>
                        Рекомендуется 15%<br>
                        Расчетные данные
            p Дополним информационную модель в табличной форме математической моделью.
            p При расчете фактической площади рулона, которая пойдет на оклейку помещения, надо отбросить обрезки. Формула имеет вид
            p.center
                span.math S#[sub р] = (1 - Обр) × l × d.
            p В прямоугольной комнате две стены площадью #[span.math ah], и две стены площадью #[span.math bh]. При расчете фактической площади стен учитывается неоклеиваемая площадь окон и дверей 
            p.center
                span.math S#[sub ком] = 2 × (a + b) × h * (1 - НП)
            p Количество рулонов, необходимых для оклейки комнаты, вычисляется по формуле
            p.center
                span.math N = S#[sub ком] / S#[sub р] + 1
            p Необходимо также учесть, что количество рулонов должно быть целым числом, но не меньшим, чем значение #[span.math N].
            h4 КОМПЬЮТЕРНАЯ МОДЕЛЬ
            p Для моделирования будем использовать язык моделирования python.
            p Для начала введём переменные. 
            pre.element-animation
                code
                    |h = float(input("h: "))
                    |a = float(input("a: "))
                    |b = float(input("b: "))
                    |nonGluedArea = 0.15 # Неоклеиваемая поверхность 15%
                    |cuttings = 0.1 # Обрезки 10%
                    |
                    |l = float(input("l: "))
                    |d = float(input("d: "))
            p Следующим шагом будет запись формул
            pre.element-animation
                code
                    |Sroom = 2 * (a + b) * h * (1 - nonGluedArea) # Площадь комнаты
                    |Sroll = (1 - cuttings) * l * d # Площадь обрезков
            p Частное в формуле количества рулонов нужно будет округлить вверх. Для этого мы будем использовать функцию из модуля #[i math]. Добавим в начало файла строчку
            code.element-animation from math import ceil
            p К формулам допишем N
            code.element-animation N = ceil(Sroom / Sroll) + 1
            p Выведем результат
            pre.element-animation
                code print(f'Площадь рулона: {"%.3f" % Sroll}, Количество рулонов: {N}')
            details
                summary Вывод программы
                pre.
                    h: 2.6
                    a: 5
                    b: 3
                    l: 10.5
                    d: 0.5
                    Площадь рулона: 4.725, Количество рулонов: 9
            p Можно рассчитывать одновременно большее количество образцов рулона, заддадим из как массив массивов.
            pre.element-animation
                code.
                    # Заменим
                    l = float(input("l: "))
                    d = float(input("d: "))
                    # на
                    rolls = [[10.5, 0.5], [10.5, 0.6]]
                    
                    # Будем обрабатывать данные через цикл for
                    for i in rolls: # В переменную i записывается 
                                      один из массивов рулонов
                        Sroom = 2 * (a + b) * h * (1 - nonGluedArea) 
                        Sroll = (1 - cuttings) * i[0] * i[1] # Обращаемся к длине и ширине

                        N = ceil(Sroom / Sroll) + 1
                        print(f'l: {i[0]}, d: {i[1]}, N: {N}')
            details
                summary Вывод программы
                pre.
                    h: 2.6
                    a: 5
                    b: 3
                    l: 10.5, d: 0.5, N: 9
                    l: 10.5, d: 0.6, N: 8
            p С помощью этого кода можно будет пройти дальнейшие тесты.
            div.btnWrapper
                a.btn(href="wallpapersTest.html") Тест 
    script(src="js/animation.js")