mixin list
    option ---
    option увеличивается
    option уменьшается
    option сначала увеличивается, затем уменьшается
    option сначала уменьшается, затем увеличивается

doctype html
html(lang="en")
    head
        include ./includes/head.pug
        title Коробка - тест
    body 
        include ./includes/header.pug
        main.container
            ol
                li.question
                    p Рассчитайте количество рулонов обоев для помещений вашей квартиры, при l = 10.5, d = 0.5
                    table
                        tr
                            td a
                            td b
                            td h
                            td N
                        tr.smallInput
                            td 
                                input#a.questionInput(type="text" data-type="wallpapers")
                            td 
                                input#b.questionInput(type="text" data-type="wallpapers")
                            td 
                                input#h.questionInput(type="text" data-type="wallpapers")
                            td 
                                input#N.questionInput(type="text" data-type="wallpapers")
                li.question
                    p Найдите найдите количество рулонов, при a = 4, b = 7, h = 2.7
                    table
                        tr
                            td Длина рулона
                            td Ширина рулона
                            td Количество рулонов
                        tr
                            td 10.5
                            td 0,5
                            td
                                input.questionInput(type="text" data-answer="6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b11661a3eefacbba918")
                        tr
                            td 10.5
                            td 0,6
                            td
                                input.questionInput(type="text" data-answer="4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5")
                        tr
                            td 10.5
                            td 0,7
                            td
                                input.questionInput(type="text" data-answer="19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebabe5ef03f7c3017bb5b7")
                        tr
                            td 13
                            td 0,5
                            td
                                input.questionInput(type="text" data-answer="4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5")
                        tr
                            td 13
                            td 0,6
                            td
                                input.questionInput(type="text" data-answer="19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebabe5ef03f7c3017bb5b7")
                        tr
                            td 13
                            td 0,7
                            td
                                input.questionInput(type="text" data-answer="2c624232cdd221771294dfbb310aca000a0df6ac8b66b696d90ef06fdefb64a3")
            button.big#checkAnswers Проверить
    script(src="js/sha256.js") 
    script(src="js/test.js") 