$green: #54A48B;
$darkGreen: #3b7261;
$white: #ffffff;
$grey: #ebebeb;
$darkGrey: #a7a7a7;
$black: #171717;
$lightYellow: #fde7ab;
$yellow: #c0a761;
$darkYellow: #837242;
$lightRed: #ffd1d1;
$red: #c06161;