[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    border: 1px solid $black;
    content: attr(data-tooltip); 
    position: absolute;
    left: -4.5em; top: 2em;
    background: $grey;
    color: $black;
    padding: 0.2em 1em;
    pointer-events: none;
    opacity: 0;
    transition: 0.1s; 
    border-radius: $border-radius;
} 
[data-tooltip]:hover::after {
    opacity: 1;
}