$border-radius: 10px;

@mixin btn {
    border: none;
    border-bottom: 3px solid $darkGreen;
    border-radius: $border-radius;
    background-color: $green;
    color: $white;
    padding: .3em .5em;
    cursor: pointer;
    text-decoration: none;

    &:active {
        border: none;
        transform: translate(0, .1em);
    }
}

.hidden {
    display: none;
}