table {
    margin: $margin-vertical 0;
}
table.work tr.even td {
    background-color: $lightYellow;
}
td.title {
    text-align: center;
    font-weight: bold;
}
.tableWrapper {
    display: flex;
    justify-content: space-around;

    &.overflow {
        overflow-y: auto;
        display: block;
    }
}
table.intInput input {
    width: 4em;
}